In [1]:
import requests
import os
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import random 
from fastapi import FastAPI, UploadFile, File
from fastapi.responses import StreamingResponse, JSONResponse
import io

# ATTOM API's

**df1**

In [21]:
def fetch_attom_data(postalcode):
    api_key = "82465ff800ed8cde6fa0632ef54c6a8d"  
    
    headers = {
        'apikey': api_key
    }
    params = {
        'postalcode': postalcode,
        'propertytype': 'RESIDENTIAL',
        'pagesize': 100
    }

    response = requests.get("https://api.gateway.attomdata.com/propertyapi/v1.0.0/property/detail", headers=headers, params=params)
    response.raise_for_status()
    return response.json()

In [22]:
def attom_csv(data, filename):
    properties = data.get('property', [])

    rows = []
    for prop in properties:
        addr = prop.get('address', {})
        building = prop.get('building', {})
        size = building.get('size', {})
        listing = prop.get('sale', {}) or prop.get('list', {})

        location = f"{addr.get('line1', '')}, {addr.get('city', '')}, {addr.get('state', '')} {addr.get('postalcode', '')}".strip(", ")
        property_title = addr.get('line1', '') or "Unknown"

        row = {
            'property_title': property_title,
            'location': location,
            'number_of_rooms': building.get('rooms', ''),
            'price': listing.get('amount', ''),
            'size': size.get('universalsize', ''),
            'listing_type': listing.get('proptype', '') or "sale"
        }
        print(row)
        rows.append(row)

    df1 = pd.DataFrame(rows)
    df1.to_csv(filename, index=False)
    print(f"\nSaved {len(rows)} records to {filename}")
    return df1

In [23]:
data = fetch_attom_data("90210")
df1 = attom_csv(data, "attom_properties.csv")
print(df1)

{'property_title': '9836 YOAKUM DR', 'location': '9836 YOAKUM DR', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2, 'roomsTotal': 5}, 'price': '', 'size': 674, 'listing_type': 'sale'}
{'property_title': '13345 MULHOLLAND DR', 'location': '13345 MULHOLLAND DR', 'number_of_rooms': {'bathsfull': 2, 'bathstotal': 2.0, 'beds': 2, 'roomsTotal': 6}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2840 N BEVERLY DR', 'location': '2840 N BEVERLY DR', 'number_of_rooms': {'bathsfull': 8, 'bathstotal': 8.0, 'beds': 4}, 'price': '', 'size': 6997, 'listing_type': 'sale'}
{'property_title': '9360 BEVERLY CREST DR', 'location': '9360 BEVERLY CREST DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9801 EASTON DR', 'location': '9801 EASTON DR', 'number_of_rooms': {'bathsfull': 2, 'bathstotal': 2.0, 'beds': 3}, 'price': '', 'size': 1147, 'listing_type': 'sale'}
{'property_title': '1438 DAVIES DR', 'location': '1438 DAVIES DR', 'number_of_rooms': {'bathsfull': 2, 'bathstotal': 2.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9333 HAZEN DR', 'location': '9333 HAZEN DR', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 1, 'roomsTotal': 3}, 'price': '', 'size': 1247, 'listing_type': 'sale'}
{'property_title': '9331 HAZEN DR', 'location': '9331 HAZEN DR', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 5, 'roomsTotal': 10}, 'price': '', 'size': 1000, 'listing_type': 'sale'}
{'property_title': '9810 PORTOLA DR', 'location': '9810 PORTOLA DR', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2, 'roomsTotal': 6}, 'price': '', 'size': 935, 'listing_type': 'sale'}
{'property_title': '9805 PORTOLA DR', 'location': '9805 PORTOLA DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2859 COLDWATER CANYON DR', 'location': '2859 COLDWATER CANYON DR', 'number_of_rooms': {'bathsfull': 6, 'bathstotal': 6.0, 'beds': 5, 'roomsTotal': 22}, 'price': '', 'size': 5082, 'listing_type': 'sale'}
{'property_title': '412 ROBERT LN', 'location': '412 ROBERT LN', 'number_of_rooms': {'bathsfull': 6, 'bathstotal': 6.0, 'beds': 4, 'roomsTotal': 23}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9801 WANDA PARK DR', 'location': '9801 WANDA PARK DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2500 SUMMITRIDGE DR', 'location': '2500 SUMMITRIDGE DR', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2, 'roomsTotal': 7}, 'price': '', 'size': 1440, 'listing_type': 'sale'}
{'property_title': '257 N CANON DR', 'location': '257 N CANON DR', 'number_of_rooms': {}, 'price': '', 'size': 7479, 'listing_type': 'sale'}
{'property_title': '900 N CRESCENT DR', 'location': '900 N CRESCENT DR', 'number_of_rooms': {'bathsfull': 11, 'bathstotal': 11.0, 'beds': 7, 'roomsTotal': 27}, 'price': '', 'size': 44925, 'listing_type': 'sale'}
{'property_title': '1169 N HILLCREST RD', 'location': '1169 N HILLCREST RD', 'number_of_rooms': {'bathsfull': 8, 'bathstotal': 8.0, 'beds': 5, 'roomsTotal': 26}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '210 LADERA DR', 'location': '210 LADERA DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9508 TULLIS DR', 'location': '9508 TULLIS DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9985 REEVESBURY DR', 'location': '9985 REEVESBURY DR', 'number_of_rooms': {'bathsfull': 3, 'bathstotal': 3.0, 'beds': 2, 'roomsTotal': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1360 SUMMITRIDGE PL', 'location': '1360 SUMMITRIDGE PL', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 3}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9510 TULLIS DR', 'location': '9510 TULLIS DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 4, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1051 MARILYN DR', 'location': '1051 MARILYN DR', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 3, 'roomsTotal': 15}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13375 MULHOLLAND DR', 'location': '13375 MULHOLLAND DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13411 JAVA DR', 'location': '13411 JAVA DR', 'number_of_rooms': {'bathsfull': 3, 'bathstotal': 3.0, 'beds': 3, 'roomsTotal': 11}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1054 ANGELO DR', 'location': '1054 ANGELO DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 3, 'roomsTotal': 14}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13741 MULHOLLAND DR', 'location': '13741 MULHOLLAND DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 2, 'roomsTotal': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1414 DAWNRIDGE DR', 'location': '1414 DAWNRIDGE DR', 'number_of_rooms': {'bathsfull': 6, 'bathstotal': 6.0, 'beds': 5}, 'price': '', 'size': 4582, 'listing_type': 'sale'}
{'property_title': '1041 MARILYN DR', 'location': '1041 MARILYN DR', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 4, 'roomsTotal': 14}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '12900 MULHOLLAND DR', 'location': '12900 MULHOLLAND DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 3, 'roomsTotal': 12}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1645 N BEVERLY DR', 'location': '1645 N BEVERLY DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 4, 'roomsTotal': 6}, 'price': '', 'size': 3204, 'listing_type': 'sale'}
{'property_title': '1264 ANGELO DR', 'location': '1264 ANGELO DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 3, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9821 YOAKUM DR', 'location': '9821 YOAKUM DR', 'number_of_rooms': {'bathsfull': 2, 'bathstotal': 2.0, 'beds': 1, 'roomsTotal': 7}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '718 N OAKHURST DR', 'location': '718 N OAKHURST DR', 'number_of_rooms': {'bathsfull': 3, 'bathstotal': 3.0, 'beds': 3, 'roomsTotal': 12}, 'price': '', 'size': 3080, 'listing_type': 'sale'}
{'property_title': '1046 N HILLCREST RD', 'location': '1046 N HILLCREST RD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1071 N HILLCREST RD', 'location': '1071 N HILLCREST RD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1157 N HILLCREST RD', 'location': '1157 N HILLCREST RD', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 3, 'roomsTotal': 16}, 'price': '', 'size': 4524, 'listing_type': 'sale'}
{'property_title': '1627 BENEDICT CANYON DR', 'location': '1627 BENEDICT CANYON DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9491 SUNSET BLVD', 'location': '9491 SUNSET BLVD', 'number_of_rooms': {'bathsfull': 9, 'bathstotal': 9.0, 'beds': 9, 'roomsTotal': 18}, 'price': '', 'size': 16621, 'listing_type': 'sale'}
{'property_title': '13200 MULHOLLAND DR', 'location': '13200 MULHOLLAND DR', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 3}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '10111 WESTWANDA DR', 'location': '10111 WESTWANDA DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '602 MOUNTAIN DR', 'location': '602 MOUNTAIN DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.5, 'beds': 5, 'roomsTotal': 21}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1427 LAUREL WAY', 'location': '1427 LAUREL WAY', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 5, 'roomsTotal': 13}, 'price': '', 'size': 5269, 'listing_type': 'sale'}
{'property_title': '1485 BLUERIDGE DR', 'location': '1485 BLUERIDGE DR', 'number_of_rooms': {'bathsfull': 10, 'bathstotal': 10.0, 'beds': 7, 'roomsTotal': 11}, 'price': '', 'size': 9044, 'listing_type': 'sale'}
{'property_title': '1096 WALLACE RDG', 'location': '1096 WALLACE RDG', 'number_of_rooms': {'bathsfull': 11, 'bathstotal': 11.0, 'beds': 9, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '12001 MULHOLLAND DR', 'location': '12001 MULHOLLAND DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9840 WANDA PARK DR', 'location': '9840 WANDA PARK DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '985 N ALPINE DR', 'location': '985 N ALPINE DR', 'number_of_rooms': {'bathsfull': 6, 'bathstotal': 6.0, 'beds': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1250 TOWER GROVE DR', 'location': '1250 TOWER GROVE DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 3, 'roomsTotal': 9}, 'price': '', 'size': 4767, 'listing_type': 'sale'}
{'property_title': '9959 BEVERLY GROVE DR', 'location': '9959 BEVERLY GROVE DR', 'number_of_rooms': {'beds': 2, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9531 HIDDEN VALLEY RD', 'location': '9531 HIDDEN VALLEY RD', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 3}, 'price': '', 'size': 6557, 'listing_type': 'sale'}
{'property_title': '9603 OAK PASS RD', 'location': '9603 OAK PASS RD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '104 N REXFORD DR', 'location': '104 N REXFORD DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1740 SUMMITRIDGE DR', 'location': '1740 SUMMITRIDGE DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1699 N BEVERLY DR', 'location': '1699 N BEVERLY DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9910 TOWER LN', 'location': '9910 TOWER LN', 'number_of_rooms': {'bathsfull': 7, 'bathstotal': 7.0, 'beds': 6}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13444 JAVA DR', 'location': '13444 JAVA DR', 'number_of_rooms': {'bathsfull': 2, 'bathstotal': 2.0, 'beds': 3, 'roomsTotal': 8}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9385 WILSHIRE BLVD', 'location': '9385 WILSHIRE BLVD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9393 WILSHIRE BLVD', 'location': '9393 WILSHIRE BLVD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '10021 WESTWANDA DR', 'location': '10021 WESTWANDA DR', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 1, 'roomsTotal': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1729 ANGELO DR', 'location': '1729 ANGELO DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9938 TOWER LN', 'location': '9938 TOWER LN', 'number_of_rooms': {'bathsfull': 6, 'bathstotal': 6.5, 'beds': 6, 'roomsTotal': 25}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1531 GILCREST DR', 'location': '1531 GILCREST DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '804 N BEVERLY DR', 'location': '804 N BEVERLY DR', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'roomsTotal': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '615 N CANON DR', 'location': '615 N CANON DR', 'number_of_rooms': {'bathsfull': 8, 'bathstotal': 8.0, 'beds': 9, 'roomsTotal': 24}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '805 N ROXBURY DR', 'location': '805 N ROXBURY DR', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 7, 'roomsTotal': 18}, 'price': '', 'size': 6571, 'listing_type': 'sale'}
{'property_title': '807 CINTHIA ST', 'location': '807 CINTHIA ST', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 5, 'roomsTotal': 18}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9171 W 3RD ST', 'location': '9171 W 3RD ST', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '331 N OAKHURST DR', 'location': '331 N OAKHURST DR', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9214 W 3RD ST', 'location': '9214 W 3RD ST', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1117 N BEVERLY DR', 'location': '1117 N BEVERLY DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1009 LAUREL WAY', 'location': '1009 LAUREL WAY', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1183 SUMMIT DR', 'location': '1183 SUMMIT DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1162 TOWER RD', 'location': '1162 TOWER RD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1040 ANGELO DR', 'location': '1040 ANGELO DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2552 HUTTON DR', 'location': '2552 HUTTON DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13442 JAVA DR', 'location': '13442 JAVA DR', 'number_of_rooms': {'bathsfull': 3, 'bathstotal': 3.0, 'beds': 4, 'roomsTotal': 11}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2641 HUTTON DR', 'location': '2641 HUTTON DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 3, 'roomsTotal': 12}, 'price': '', 'size': 2100, 'listing_type': 'sale'}
{'property_title': '2721 ELLISON DR', 'location': '2721 ELLISON DR', 'number_of_rooms': {'beds': 2, 'roomsTotal': 8}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2878 DEEP CANYON DR', 'location': '2878 DEEP CANYON DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '59 BEVERLY PARK', 'location': '59 BEVERLY PARK', 'number_of_rooms': {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2}, 'price': '', 'size': 2308, 'listing_type': 'sale'}
{'property_title': '1150 LA COLLINA DR', 'location': '1150 LA COLLINA DR', 'number_of_rooms': {'bathsfull': 5, 'bathstotal': 5.0, 'beds': 5, 'roomsTotal': 12}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1220 LA COLLINA DR', 'location': '1220 LA COLLINA DR', 'number_of_rooms': {}, 'price': '', 'size': 400, 'listing_type': 'sale'}
{'property_title': '510 N ALPINE DR', 'location': '510 N ALPINE DR', 'number_of_rooms': {'bathsfull': 3, 'bathstotal': 3.0, 'beds': 4, 'roomsTotal': 10}, 'price': '', 'size': 2318, 'listing_type': 'sale'}
{'property_title': '425 N PALM DR APT 101', 'location': '425 N PALM DR APT 101', 'number_of_rooms': {'bathsfull': 12, 'bathstotal': 12.0, 'beds': 16}, 'price': '', 'size': 12810, 'listing_type': 'sale'}
{'property_title': '703 N BEDFORD DR', 'location': '703 N BEDFORD DR', 'number_of_rooms': {'bathsfull': 2, 'bathstotal': 2.0, 'beds': 2, 'roomsTotal': 10}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '621 N CAMDEN DR', 'location': '621 N CAMDEN DR', 'number_of_rooms': {'bathsfull': 7, 'bathstotal': 7.0, 'beds': 6, 'roomsTotal': 17}, 'price': '', 'size': 4254, 'listing_type': 'sale'}
{'property_title': '1740 GREEN ACRES DR', 'location': '1740 GREEN ACRES DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1735 ANGELO DR', 'location': '1735 ANGELO DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '811 N ALTA DR', 'location': '811 N ALTA DR', 'number_of_rooms': {'bathsfull': 7, 'bathstotal': 7.0, 'beds': 4, 'roomsTotal': 19}, 'price': '', 'size': 5239, 'listing_type': 'sale'}
{'property_title': '916 FOOTHILL RD', 'location': '916 FOOTHILL RD', 'number_of_rooms': {'bathsfull': 6, 'bathstotal': 6.0, 'beds': 4}, 'price': '', 'size': 3614, 'listing_type': 'sale'}
{'property_title': '661 DOHENY RD', 'location': '661 DOHENY RD', 'number_of_rooms': {'bathsfull': 7, 'bathstotal': 7.0, 'beds': 5}, 'price': '', 'size': 7003, 'listing_type': 'sale'}
{'property_title': '1129 MIRADERO RD', 'location': '1129 MIRADERO RD', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 3, 'roomsTotal': 13}, 'price': '', 'size': 3384, 'listing_type': 'sale'}
{'property_title': '1193 LOMA LINDA DR', 'location': '1193 LOMA LINDA DR', 'number_of_rooms': {}, 'price': '', 'size': 1273, 'listing_type': 'sale'}
{'property_title': '9487 READCREST DR', 'location': '9487 READCREST DR', 'number_of_rooms': {'bathsfull': 3, 'bathstotal': 3.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9412 BEVERLY CREST DR', 'location': '9412 BEVERLY CREST DR', 'number_of_rooms': {'beds': 2, 'roomsTotal': 8}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1422 LINDACREST DR', 'location': '1422 LINDACREST DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1462 CLARIDGE DR', 'location': '1462 CLARIDGE DR', 'number_of_rooms': {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 4}, 'price': '', 'size': 3106, 'listing_type': 'sale'}
{'property_title': '1426 HARRIDGE DR', 'location': '1426 HARRIDGE DR', 'number_of_rooms': {}, 'price': '', 'size': 1044, 'listing_type': 'sale'}
{'property_title': '1636 SUMMITRIDGE DR', 'location': '1636 SUMMITRIDGE DR', 'number_of_rooms': {'bathsfull': 6, 'bathstotal': 6.0, 'beds': 5, 'roomsTotal': 22}, 'price': '', 'size': '', 'listing_type': 'sale'}

Saved 100 records to attom_properties.csv
           property_title               location  \
0          9836 YOAKUM DR         9836 YOAKUM DR
1     13345 MULHOLLAND DR    13345 MULHOLLAND DR
2       2840 N BEVERLY DR      2840 N BEVERLY DR
3   9360 BEVERLY CREST DR  9360 BEVERLY CREST DR
4          9801 EASTON DR         9801 EASTON DR
..                    ...                    ...
95  9412 BEVERLY CREST DR  9412 BEVERLY CREST DR
96     1422 LINDACREST DR     1422 LINDACREST DR
97       1462 CLARIDGE DR       1462 CLARIDGE DR
98       1426 HARRIDGE DR       1426 HARRIDGE DR
99    1636 SUMMITRIDGE DR    1636 SUMMITRIDGE DR

                                      number_of_rooms price  size listing_type
0   {'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2,...         674         sale
1   {'bathsfull': 2, 'bathstotal': 2.0, 'beds': 2,...                     sale
2      {'bathsfull': 8, 'bathstotal': 8.0, 'beds': 4}        6997         sale
3      {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 5}                     sale
4      {'bathsfull': 2, 'bathstotal': 2.0, 'beds': 3}        1147         sale
..                                                ...   ...   ...          ...
95                       {'beds': 2, 'roomsTotal': 8}                     sale
96                                                 {}                     sale
97     {'bathsfull': 4, 'bathstotal': 4.0, 'beds': 4}        3106         sale
98                                                 {}        1044         sale
99  {'bathsfull': 6, 'bathstotal': 6.0, 'beds': 5,...                     sale

[100 rows x 6 columns]

In [24]:
df1

,property_title,location,number_of_rooms,price,size,listing_type
0,9836 YOAKUM DR,9836 YOAKUM DR,"{'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2,...",,674,sale
1,13345 MULHOLLAND DR,13345 MULHOLLAND DR,"{'bathsfull': 2, 'bathstotal': 2.0, 'beds': 2,...",,,sale
2,2840 N BEVERLY DR,2840 N BEVERLY DR,"{'bathsfull': 8, 'bathstotal': 8.0, 'beds': 4}",,6997,sale
3,9360 BEVERLY CREST DR,9360 BEVERLY CREST DR,"{'bathsfull': 4, 'bathstotal': 4.0, 'beds': 5}",,,sale
4,9801 EASTON DR,9801 EASTON DR,"{'bathsfull': 2, 'bathstotal': 2.0, 'beds': 3}",,1147,sale
...,...,...,...,...,...,...
95,9412 BEVERLY CREST DR,9412 BEVERLY CREST DR,"{'beds': 2, 'roomsTotal': 8}",,,sale
96,1422 LINDACREST DR,1422 LINDACREST DR,{},,,sale
97,1462 CLARIDGE DR,1462 CLARIDGE DR,"{'bathsfull': 4, 'bathstotal': 4.0, 'beds': 4}",,3106,sale
98,1426 HARRIDGE DR,1426 HARRIDGE DR,{},,1044,sale
99,1636 SUMMITRIDGE DR,1636 SUMMITRIDGE DR,"{'bathsfull': 6, 'bathstotal': 6.0, 'beds': 5,...",,,sale

**df2**

In [25]:
def fetch_attom_data(postalcode):
    api_key = "82465ff800ed8cde6fa0632ef54c6a8d"  
    
    headers = {
        'apikey': api_key
    }
    params = {
        'postalcode': postalcode,
        'propertytype': 'RESIDENTIAL',
        'pagesize': 100
    }

    response = requests.get("https://api.gateway.attomdata.com/propertyapi/v1.0.0/property/basicprofile", headers=headers, params=params)
    response.raise_for_status()
    return response.json()

In [26]:
def attom_csv(data, filename):
    properties = data.get('property', [])

    rows = []
    for prop in properties:
        addr = prop.get('address', {})
        building = prop.get('building', {})
        size = building.get('size', {})
        listing = prop.get('sale', {}) or prop.get('list', {})

        location = f"{addr.get('line1', '')}, {addr.get('city', '')}, {addr.get('state', '')} {addr.get('postalcode', '')}".strip(", ")
        property_title = addr.get('line1', '') or "Unknown"

        row = {
            'property_title': property_title,
            'location': location,
            'number_of_rooms': building.get('rooms', ''),
            'price': listing.get('amount', ''),
            'size': size.get('universalsize', ''),
            'listing_type': listing.get('proptype', '') or "sale"
        }
        print(row)
        rows.append(row)

    df2 = pd.DataFrame(rows)
    df2.to_csv(filename, index=False)
    print(f"\nSaved {len(rows)} records to {filename}")
    return df2

In [27]:
data = fetch_attom_data("90210")
df2 = attom_csv(data, "attom_basicprofile.csv")
print(df2)

{'property_title': '9836 YOAKUM DR', 'location': '9836 YOAKUM DR', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2, 'roomsTotal': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13345 MULHOLLAND DR', 'location': '13345 MULHOLLAND DR', 'number_of_rooms': {'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 2, 'roomsTotal': 6}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2840 N BEVERLY DR', 'location': '2840 N BEVERLY DR', 'number_of_rooms': {'bathsFull': 8, 'bathsTotal': 8.0, 'beds': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9360 BEVERLY CREST DR', 'location': '9360 BEVERLY CREST DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9801 EASTON DR', 'location': '9801 EASTON DR', 'number_of_rooms': {'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 3}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1438 DAVIES DR', 'location': '1438 DAVIES DR', 'number_of_rooms': {'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9333 HAZEN DR', 'location': '9333 HAZEN DR', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 1, 'roomsTotal': 3}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9331 HAZEN DR', 'location': '9331 HAZEN DR', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 5, 'roomsTotal': 10}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9810 PORTOLA DR', 'location': '9810 PORTOLA DR', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2, 'roomsTotal': 6}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9805 PORTOLA DR', 'location': '9805 PORTOLA DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2859 COLDWATER CANYON DR', 'location': '2859 COLDWATER CANYON DR', 'number_of_rooms': {'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 5, 'roomsTotal': 22}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '412 ROBERT LN', 'location': '412 ROBERT LN', 'number_of_rooms': {'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 4, 'roomsTotal': 23}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9801 WANDA PARK DR', 'location': '9801 WANDA PARK DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2500 SUMMITRIDGE DR', 'location': '2500 SUMMITRIDGE DR', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2, 'roomsTotal': 7}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '257 N CANON DR', 'location': '257 N CANON DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '900 N CRESCENT DR', 'location': '900 N CRESCENT DR', 'number_of_rooms': {'bathsFull': 11, 'bathsTotal': 11.0, 'beds': 7, 'roomsTotal': 27}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1169 N HILLCREST RD', 'location': '1169 N HILLCREST RD', 'number_of_rooms': {'bathsFull': 8, 'bathsTotal': 8.0, 'beds': 5, 'roomsTotal': 26}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '210 LADERA DR', 'location': '210 LADERA DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9508 TULLIS DR', 'location': '9508 TULLIS DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9985 REEVESBURY DR', 'location': '9985 REEVESBURY DR', 'number_of_rooms': {'bathsFull': 3, 'bathsTotal': 3.0, 'beds': 2, 'roomsTotal': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1360 SUMMITRIDGE PL', 'location': '1360 SUMMITRIDGE PL', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 3}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9510 TULLIS DR', 'location': '9510 TULLIS DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 4, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1051 MARILYN DR', 'location': '1051 MARILYN DR', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 3, 'roomsTotal': 15}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13375 MULHOLLAND DR', 'location': '13375 MULHOLLAND DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13411 JAVA DR', 'location': '13411 JAVA DR', 'number_of_rooms': {'bathsFull': 3, 'bathsTotal': 3.0, 'beds': 3, 'roomsTotal': 11}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1054 ANGELO DR', 'location': '1054 ANGELO DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 3, 'roomsTotal': 14}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13741 MULHOLLAND DR', 'location': '13741 MULHOLLAND DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 2, 'roomsTotal': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1414 DAWNRIDGE DR', 'location': '1414 DAWNRIDGE DR', 'number_of_rooms': {'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1041 MARILYN DR', 'location': '1041 MARILYN DR', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 4, 'roomsTotal': 14}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '12900 MULHOLLAND DR', 'location': '12900 MULHOLLAND DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 3, 'roomsTotal': 12}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1645 N BEVERLY DR', 'location': '1645 N BEVERLY DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 4, 'roomsTotal': 6}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1264 ANGELO DR', 'location': '1264 ANGELO DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 3, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9821 YOAKUM DR', 'location': '9821 YOAKUM DR', 'number_of_rooms': {'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 1, 'roomsTotal': 7}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '718 N OAKHURST DR', 'location': '718 N OAKHURST DR', 'number_of_rooms': {'bathsFull': 3, 'bathsTotal': 3.0, 'beds': 3, 'roomsTotal': 12}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1046 N HILLCREST RD', 'location': '1046 N HILLCREST RD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1071 N HILLCREST RD', 'location': '1071 N HILLCREST RD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1157 N HILLCREST RD', 'location': '1157 N HILLCREST RD', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 3, 'roomsTotal': 16}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1627 BENEDICT CANYON DR', 'location': '1627 BENEDICT CANYON DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9491 SUNSET BLVD', 'location': '9491 SUNSET BLVD', 'number_of_rooms': {'bathsFull': 9, 'bathsTotal': 9.0, 'beds': 9, 'roomsTotal': 18}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13200 MULHOLLAND DR', 'location': '13200 MULHOLLAND DR', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 3}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '10111 WESTWANDA DR', 'location': '10111 WESTWANDA DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '602 MOUNTAIN DR', 'location': '602 MOUNTAIN DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.5, 'beds': 5, 'roomsTotal': 21}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1427 LAUREL WAY', 'location': '1427 LAUREL WAY', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 5, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1485 BLUERIDGE DR', 'location': '1485 BLUERIDGE DR', 'number_of_rooms': {'bathsFull': 10, 'bathsTotal': 10.0, 'beds': 7, 'roomsTotal': 11}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1096 WALLACE RDG', 'location': '1096 WALLACE RDG', 'number_of_rooms': {'bathsFull': 11, 'bathsTotal': 11.0, 'beds': 9, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '12001 MULHOLLAND DR', 'location': '12001 MULHOLLAND DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9840 WANDA PARK DR', 'location': '9840 WANDA PARK DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '985 N ALPINE DR', 'location': '985 N ALPINE DR', 'number_of_rooms': {'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1250 TOWER GROVE DR', 'location': '1250 TOWER GROVE DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 3, 'roomsTotal': 9}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9959 BEVERLY GROVE DR', 'location': '9959 BEVERLY GROVE DR', 'number_of_rooms': {'beds': 2, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9531 HIDDEN VALLEY RD', 'location': '9531 HIDDEN VALLEY RD', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 3}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9603 OAK PASS RD', 'location': '9603 OAK PASS RD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '104 N REXFORD DR', 'location': '104 N REXFORD DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1740 SUMMITRIDGE DR', 'location': '1740 SUMMITRIDGE DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1699 N BEVERLY DR', 'location': '1699 N BEVERLY DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9910 TOWER LN', 'location': '9910 TOWER LN', 'number_of_rooms': {'bathsFull': 7, 'bathsTotal': 7.0, 'beds': 6}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13444 JAVA DR', 'location': '13444 JAVA DR', 'number_of_rooms': {'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 3, 'roomsTotal': 8}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9385 WILSHIRE BLVD', 'location': '9385 WILSHIRE BLVD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9393 WILSHIRE BLVD', 'location': '9393 WILSHIRE BLVD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '10021 WESTWANDA DR', 'location': '10021 WESTWANDA DR', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 1, 'roomsTotal': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1729 ANGELO DR', 'location': '1729 ANGELO DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9938 TOWER LN', 'location': '9938 TOWER LN', 'number_of_rooms': {'bathsFull': 6, 'bathsTotal': 6.5, 'beds': 6, 'roomsTotal': 25}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1531 GILCREST DR', 'location': '1531 GILCREST DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '804 N BEVERLY DR', 'location': '804 N BEVERLY DR', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'roomsTotal': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '615 N CANON DR', 'location': '615 N CANON DR', 'number_of_rooms': {'bathsFull': 8, 'bathsTotal': 8.0, 'beds': 9, 'roomsTotal': 24}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '805 N ROXBURY DR', 'location': '805 N ROXBURY DR', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 7, 'roomsTotal': 18}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '807 CINTHIA ST', 'location': '807 CINTHIA ST', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 5, 'roomsTotal': 18}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9171 W 3RD ST', 'location': '9171 W 3RD ST', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '331 N OAKHURST DR', 'location': '331 N OAKHURST DR', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9214 W 3RD ST', 'location': '9214 W 3RD ST', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1117 N BEVERLY DR', 'location': '1117 N BEVERLY DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1009 LAUREL WAY', 'location': '1009 LAUREL WAY', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1183 SUMMIT DR', 'location': '1183 SUMMIT DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1162 TOWER RD', 'location': '1162 TOWER RD', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1040 ANGELO DR', 'location': '1040 ANGELO DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2552 HUTTON DR', 'location': '2552 HUTTON DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '13442 JAVA DR', 'location': '13442 JAVA DR', 'number_of_rooms': {'bathsFull': 3, 'bathsTotal': 3.0, 'beds': 4, 'roomsTotal': 11}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2641 HUTTON DR', 'location': '2641 HUTTON DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 3, 'roomsTotal': 12}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2721 ELLISON DR', 'location': '2721 ELLISON DR', 'number_of_rooms': {'beds': 2, 'roomsTotal': 8}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '2878 DEEP CANYON DR', 'location': '2878 DEEP CANYON DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '59 BEVERLY PARK', 'location': '59 BEVERLY PARK', 'number_of_rooms': {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1150 LA COLLINA DR', 'location': '1150 LA COLLINA DR', 'number_of_rooms': {'bathsFull': 5, 'bathsTotal': 5.0, 'beds': 5, 'roomsTotal': 12}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1220 LA COLLINA DR', 'location': '1220 LA COLLINA DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '510 N ALPINE DR', 'location': '510 N ALPINE DR', 'number_of_rooms': {'bathsFull': 3, 'bathsTotal': 3.0, 'beds': 4, 'roomsTotal': 10}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '425 N PALM DR APT 101', 'location': '425 N PALM DR APT 101', 'number_of_rooms': {'bathsFull': 12, 'bathsTotal': 12.0, 'beds': 16}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '703 N BEDFORD DR', 'location': '703 N BEDFORD DR', 'number_of_rooms': {'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 2, 'roomsTotal': 10}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '621 N CAMDEN DR', 'location': '621 N CAMDEN DR', 'number_of_rooms': {'bathsFull': 7, 'bathsTotal': 7.0, 'beds': 6, 'roomsTotal': 17}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1740 GREEN ACRES DR', 'location': '1740 GREEN ACRES DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1735 ANGELO DR', 'location': '1735 ANGELO DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '811 N ALTA DR', 'location': '811 N ALTA DR', 'number_of_rooms': {'bathsFull': 7, 'bathsTotal': 7.0, 'beds': 4, 'roomsTotal': 19}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '916 FOOTHILL RD', 'location': '916 FOOTHILL RD', 'number_of_rooms': {'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '661 DOHENY RD', 'location': '661 DOHENY RD', 'number_of_rooms': {'bathsFull': 7, 'bathsTotal': 7.0, 'beds': 5}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1129 MIRADERO RD', 'location': '1129 MIRADERO RD', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 3, 'roomsTotal': 13}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1193 LOMA LINDA DR', 'location': '1193 LOMA LINDA DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9487 READCREST DR', 'location': '9487 READCREST DR', 'number_of_rooms': {'bathsFull': 3, 'bathsTotal': 3.0, 'beds': 2}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '9412 BEVERLY CREST DR', 'location': '9412 BEVERLY CREST DR', 'number_of_rooms': {'beds': 2, 'roomsTotal': 8}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1422 LINDACREST DR', 'location': '1422 LINDACREST DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1462 CLARIDGE DR', 'location': '1462 CLARIDGE DR', 'number_of_rooms': {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 4}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1426 HARRIDGE DR', 'location': '1426 HARRIDGE DR', 'number_of_rooms': {}, 'price': '', 'size': '', 'listing_type': 'sale'}
{'property_title': '1636 SUMMITRIDGE DR', 'location': '1636 SUMMITRIDGE DR', 'number_of_rooms': {'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 5, 'roomsTotal': 22}, 'price': '', 'size': '', 'listing_type': 'sale'}

Saved 100 records to attom_basicprofile.csv
           property_title               location  \
0          9836 YOAKUM DR         9836 YOAKUM DR
1     13345 MULHOLLAND DR    13345 MULHOLLAND DR
2       2840 N BEVERLY DR      2840 N BEVERLY DR
3   9360 BEVERLY CREST DR  9360 BEVERLY CREST DR
4          9801 EASTON DR         9801 EASTON DR
..                    ...                    ...
95  9412 BEVERLY CREST DR  9412 BEVERLY CREST DR
96     1422 LINDACREST DR     1422 LINDACREST DR
97       1462 CLARIDGE DR       1462 CLARIDGE DR
98       1426 HARRIDGE DR       1426 HARRIDGE DR
99    1636 SUMMITRIDGE DR    1636 SUMMITRIDGE DR

                                      number_of_rooms price size listing_type
0   {'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2,...                    sale
1   {'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 2,...                    sale
2      {'bathsFull': 8, 'bathsTotal': 8.0, 'beds': 4}                    sale
3      {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 5}                    sale
4      {'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 3}                    sale
..                                                ...   ...  ...          ...
95                       {'beds': 2, 'roomsTotal': 8}                    sale
96                                                 {}                    sale
97     {'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 4}                    sale
98                                                 {}                    sale
99  {'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 5,...                    sale

[100 rows x 6 columns]

In [28]:
df2

,property_title,location,number_of_rooms,price,size,listing_type
0,9836 YOAKUM DR,9836 YOAKUM DR,"{'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2,...",,,sale
1,13345 MULHOLLAND DR,13345 MULHOLLAND DR,"{'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 2,...",,,sale
2,2840 N BEVERLY DR,2840 N BEVERLY DR,"{'bathsFull': 8, 'bathsTotal': 8.0, 'beds': 4}",,,sale
3,9360 BEVERLY CREST DR,9360 BEVERLY CREST DR,"{'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 5}",,,sale
4,9801 EASTON DR,9801 EASTON DR,"{'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 3}",,,sale
...,...,...,...,...,...,...
95,9412 BEVERLY CREST DR,9412 BEVERLY CREST DR,"{'beds': 2, 'roomsTotal': 8}",,,sale
96,1422 LINDACREST DR,1422 LINDACREST DR,{},,,sale
97,1462 CLARIDGE DR,1462 CLARIDGE DR,"{'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 4}",,,sale
98,1426 HARRIDGE DR,1426 HARRIDGE DR,{},,,sale
99,1636 SUMMITRIDGE DR,1636 SUMMITRIDGE DR,"{'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 5,...",,,sale

**df3**

In [32]:
def fetch_attom_data(postalcode):
    api_key = "82465ff800ed8cde6fa0632ef54c6a8d"  
    
    headers = {
        'apikey': api_key
    }
    params = {
        'postalcode': postalcode,
        'propertytype': 'RESIDENTIAL',
        'pagesize': 50
    }

    response = requests.get("https://api.gateway.attomdata.com/propertyapi/v1.0.0/allevents/snapshot", headers=headers, params=params)
    response.raise_for_status()
    return response.json()

In [33]:
def attom_csv(data, filename):
    properties = data.get('property', [])

    rows = []
    for prop in properties:
        addr = prop.get('address', {})
        building = prop.get('building', {})
        size = building.get('size', {})
        listing = prop.get('sale', {}) or prop.get('list', {})

        location = f"{addr.get('line1', '')}, {addr.get('city', '')}, {addr.get('state', '')} {addr.get('postalcode', '')}".strip(", ")
        property_title = addr.get('line1', '') or "Unknown"

        row = {
            'property_title': property_title,
            'location': location,
            'number_of_rooms': building.get('rooms', ''),
            'price': listing.get('amount', ''),
            'size': size.get('universalsize', ''),
            'listing_type': listing.get('proptype', '') or "sale"
        }
        print(row)
        rows.append(row)

    df3 = pd.DataFrame(rows)
    df3.to_csv(filename, index=False)
    print(f"\nSaved {len(rows)} records to {filename}")
    return df3

In [34]:
data = fetch_attom_data("90210")
df3 = attom_csv(data, "attom_eventsnapshot.csv")
print(df3)

{'property_title': '9836 YOAKUM DR', 'location': '9836 YOAKUM DR', 'number_of_rooms': {'bathstotal': 1.0, 'beds': 2}, 'price': {'saleamt': 825000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2016-07-28', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000886610', 'saletranstype': 'Resale'}, 'size': 674, 'listing_type': 'sale'}
{'property_title': '13345 MULHOLLAND DR', 'location': '13345 MULHOLLAND DR', 'number_of_rooms': {'bathstotal': 2.0, 'beds': 2}, 'price': {'saleamt': 355000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2011-12-08', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0001661989', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '2840 N BEVERLY DR', 'location': '2840 N BEVERLY DR', 'number_of_rooms': {'bathstotal': 8.0, 'beds': 4}, 'price': {'saleamt': 4050000, 'salerecdate': '2005-10-11', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0002444462', 'saletranstype': 'Resale'}, 'size': 6997, 'listing_type': 'sale'}
{'property_title': '9360 BEVERLY CREST DR', 'location': '9360 BEVERLY CREST DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 5}, 'price': {'saleamt': 5750000, 'salerecdate': '2024-12-05', 'saledisclosuretype': 0, 'saledocnum': '0000856418', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9801 EASTON DR', 'location': '9801 EASTON DR', 'number_of_rooms': {'bathstotal': 2.0, 'beds': 3}, 'price': {'saleamt': 1465000, 'salerecdate': '2021-03-11', 'saledisclosuretype': 0, 'saledocnum': '0000398753', 'saletranstype': 'Resale'}, 'size': 1147, 'listing_type': 'sale'}
{'property_title': '1438 DAVIES DR', 'location': '1438 DAVIES DR', 'number_of_rooms': {'bathstotal': 2.0, 'beds': 2}, 'price': {'saleamt': 2150000, 'salerecdate': '2022-03-15', 'saledisclosuretype': 0, 'saledocnum': '0000298512', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9333 HAZEN DR', 'location': '9333 HAZEN DR', 'number_of_rooms': {'bathstotal': 1.0, 'beds': 1}, 'price': {'saledisclosuretype': 0}, 'size': 1247, 'listing_type': 'sale'}
{'property_title': '9331 HAZEN DR', 'location': '9331 HAZEN DR', 'number_of_rooms': {'bathstotal': 1.0, 'beds': 5}, 'price': {'salerecdate': '2014-10-22', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0001112630', 'saletranstype': 'Nominal/Quit Claim'}, 'size': 1000, 'listing_type': 'sale'}
{'property_title': '9810 PORTOLA DR', 'location': '9810 PORTOLA DR', 'number_of_rooms': {'bathstotal': 1.0, 'beds': 2}, 'price': {'saledisclosuretype': 0}, 'size': 935, 'listing_type': 'sale'}
{'property_title': '9805 PORTOLA DR', 'location': '9805 PORTOLA DR', 'number_of_rooms': {}, 'price': {'saleamt': 89000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2010-11-08', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0001601309', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '2859 COLDWATER CANYON DR', 'location': '2859 COLDWATER CANYON DR', 'number_of_rooms': {'bathstotal': 6.0, 'beds': 5}, 'price': {'saleamt': 7800000, 'salerecdate': '2024-04-18', 'saledisclosuretype': 0, 'saledocnum': '0000254420', 'saletranstype': 'Resale'}, 'size': 5082, 'listing_type': 'sale'}
{'property_title': '412 ROBERT LN', 'location': '412 ROBERT LN', 'number_of_rooms': {'bathstotal': 6.0, 'beds': 4}, 'price': {'saleamt': 22000000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2020-07-31', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000870389', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9801 WANDA PARK DR', 'location': '9801 WANDA PARK DR', 'number_of_rooms': {}, 'price': {'salerecdate': '2023-08-15', 'saledisclosuretype': 0, 'saledocnum': '0000539133', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '2500 SUMMITRIDGE DR', 'location': '2500 SUMMITRIDGE DR', 'number_of_rooms': {'bathstotal': 1.0, 'beds': 2}, 'price': {'saledisclosuretype': 0}, 'size': 1440, 'listing_type': 'sale'}
{'property_title': '257 N CANON DR', 'location': '257 N CANON DR', 'number_of_rooms': {}, 'price': {'saledisclosuretype': 0}, 'size': 7479, 'listing_type': 'sale'}
{'property_title': '900 N CRESCENT DR', 'location': '900 N CRESCENT DR', 'number_of_rooms': {'bathstotal': 11.0, 'beds': 7}, 'price': {'saleamt': 42112500, 'salerecdate': '2024-02-14', 'saledisclosuretype': 0, 'saledocnum': '0000099279', 'saletranstype': 'Resale'}, 'size': 44925, 'listing_type': 'sale'}
{'property_title': '1169 N HILLCREST RD', 'location': '1169 N HILLCREST RD', 'number_of_rooms': {'bathstotal': 8.0, 'beds': 5}, 'price': {'salerecdate': '2024-12-13', 'saledisclosuretype': 0, 'saledocnum': '0000888410', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '210 LADERA DR', 'location': '210 LADERA DR', 'number_of_rooms': {}, 'price': {'saleamt': 14000000, 'salerecdate': '2006-04-21', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000875256', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9508 TULLIS DR', 'location': '9508 TULLIS DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 4}, 'price': {'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2014-07-11', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000717661', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9985 REEVESBURY DR', 'location': '9985 REEVESBURY DR', 'number_of_rooms': {'bathstotal': 3.0, 'beds': 2}, 'price': {'saleamt': 1600000, 'salerecdate': '2016-06-29', 'saledisclosuretype': 0, 'saledocnum': '0000753341', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1360 SUMMITRIDGE PL', 'location': '1360 SUMMITRIDGE PL', 'number_of_rooms': {'bathstotal': 5.0, 'beds': 3}, 'price': {'saleamt': 18335000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2016-01-15', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000050933', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9510 TULLIS DR', 'location': '9510 TULLIS DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 4}, 'price': {'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2014-07-11', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000717661', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1051 MARILYN DR', 'location': '1051 MARILYN DR', 'number_of_rooms': {'bathstotal': 5.0, 'beds': 3}, 'price': {'saleamt': 17187500, 'salecode': 'UNKNOWN amount is not present and is not on documents', 'salerecdate': '2004-03-08', 'saledisclosuretype': 0, 'saledoctype': 'MORTGAGE', 'saledocnum': '0000539685', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '13375 MULHOLLAND DR', 'location': '13375 MULHOLLAND DR', 'number_of_rooms': {}, 'price': {'saleamt': 500000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2017-02-17', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000197282', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '13411 JAVA DR', 'location': '13411 JAVA DR', 'number_of_rooms': {'bathstotal': 3.0, 'beds': 3}, 'price': {'saleamt': 5000000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2017-09-27', 'saledisclosuretype': 0, 'saledoctype': 'MORTGAGE', 'saledocnum': '0001106520', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1054 ANGELO DR', 'location': '1054 ANGELO DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 3}, 'price': {'saleamt': 20252000, 'salerecdate': '2025-03-10', 'saledisclosuretype': 0, 'saledocnum': '0000150956', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '13741 MULHOLLAND DR', 'location': '13741 MULHOLLAND DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 2}, 'price': {'saleamt': 2178500, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2013-05-23', 'saledisclosuretype': 0, 'saledocnum': '0000779085', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1414 DAWNRIDGE DR', 'location': '1414 DAWNRIDGE DR', 'number_of_rooms': {'bathstotal': 6.0, 'beds': 5}, 'price': {'saleamt': 3700000, 'salerecdate': '2022-05-16', 'saledisclosuretype': 0, 'saledocnum': '0000526424', 'saletranstype': 'Resale'}, 'size': 4582, 'listing_type': 'sale'}
{'property_title': '1041 MARILYN DR', 'location': '1041 MARILYN DR', 'number_of_rooms': {'bathstotal': 5.0, 'beds': 4}, 'price': {'saleamt': 17187500, 'salecode': 'UNKNOWN amount is not present and is not on documents', 'salerecdate': '2004-03-08', 'saledisclosuretype': 0, 'saledoctype': 'MORTGAGE', 'saledocnum': '0000539685', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '12900 MULHOLLAND DR', 'location': '12900 MULHOLLAND DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 3}, 'price': {'saleamt': 5000050, 'salecode': 'ESTIMATED Sale price is not available due to non-disclosure counties', 'salerecdate': '2005-03-15', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000585175', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1645 N BEVERLY DR', 'location': '1645 N BEVERLY DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 4}, 'price': {'saleamt': 555000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2003-12-31', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0003915381', 'saletranstype': 'Resale'}, 'size': 3204, 'listing_type': 'sale'}
{'property_title': '1264 ANGELO DR', 'location': '1264 ANGELO DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 3}, 'price': {'saleamt': 4800000, 'salecode': 'UNKNOWN amount is not present and is not on documents', 'salerecdate': '2014-05-13', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000490720', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9821 YOAKUM DR', 'location': '9821 YOAKUM DR', 'number_of_rooms': {'bathstotal': 2.0, 'beds': 1}, 'price': {'salerecdate': '2023-08-15', 'saledisclosuretype': 0, 'saledocnum': '0000539133', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '718 N OAKHURST DR', 'location': '718 N OAKHURST DR', 'number_of_rooms': {'bathstotal': 3.0, 'beds': 3}, 'price': {'saleamt': 3350000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2003-01-02', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000005288', 'saletranstype': 'Resale'}, 'size': 3080, 'listing_type': 'sale'}
{'property_title': '1046 N HILLCREST RD', 'location': '1046 N HILLCREST RD', 'number_of_rooms': {}, 'price': {'saleamt': 8250000, 'salerecdate': '2022-06-29', 'saledisclosuretype': 0, 'saledocnum': '0000678575', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1071 N HILLCREST RD', 'location': '1071 N HILLCREST RD', 'number_of_rooms': {}, 'price': {'saleamt': 625000, 'salecode': 'UNKNOWN amount is not present and is not on documents', 'salerecdate': '2001-04-27', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000720547', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1157 N HILLCREST RD', 'location': '1157 N HILLCREST RD', 'number_of_rooms': {'bathstotal': 5.0, 'beds': 3}, 'price': {'saleamt': 15600000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2016-04-05', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000374768', 'saletranstype': 'Resale'}, 'size': 4524, 'listing_type': 'sale'}
{'property_title': '1627 BENEDICT CANYON DR', 'location': '1627 BENEDICT CANYON DR', 'number_of_rooms': {}, 'price': {'saleamt': 917000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2001-08-16', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0001509084', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9491 SUNSET BLVD', 'location': '9491 SUNSET BLVD', 'number_of_rooms': {'bathstotal': 9.0, 'beds': 9}, 'price': {'salerecdate': '2005-10-20', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0002529743', 'saletranstype': 'Resale'}, 'size': 16621, 'listing_type': 'sale'}
{'property_title': '13200 MULHOLLAND DR', 'location': '13200 MULHOLLAND DR', 'number_of_rooms': {'bathstotal': 5.0, 'beds': 3}, 'price': {'salerecdate': '2023-05-02', 'saledisclosuretype': 0, 'saledocnum': '0000283441', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '10111 WESTWANDA DR', 'location': '10111 WESTWANDA DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 5}, 'price': {'saleamt': 35000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2018-01-12', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000038326', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '602 MOUNTAIN DR', 'location': '602 MOUNTAIN DR', 'number_of_rooms': {'bathstotal': 4.5, 'beds': 5}, 'price': {'salerecdate': '2020-12-30', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0001753866', 'saletranstype': 'Nominal/Quit Claim'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1427 LAUREL WAY', 'location': '1427 LAUREL WAY', 'number_of_rooms': {'bathstotal': 5.0, 'beds': 5}, 'price': {'saleamt': 4500000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2018-06-01', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000544057', 'saletranstype': 'Resale'}, 'size': 5269, 'listing_type': 'sale'}
{'property_title': '1485 BLUERIDGE DR', 'location': '1485 BLUERIDGE DR', 'number_of_rooms': {'bathstotal': 10.0, 'beds': 7}, 'price': {'salerecdate': '2023-08-30', 'saledisclosuretype': 0, 'saledocnum': '0000578018', 'saletranstype': 'Resale'}, 'size': 9044, 'listing_type': 'sale'}
{'property_title': '1096 WALLACE RDG', 'location': '1096 WALLACE RDG', 'number_of_rooms': {'bathstotal': 11.0, 'beds': 9}, 'price': {'saledisclosuretype': 0}, 'size': '', 'listing_type': 'sale'}
{'property_title': '12001 MULHOLLAND DR', 'location': '12001 MULHOLLAND DR', 'number_of_rooms': {}, 'price': {'saleamt': 720000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '1990-04-12', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000697333', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '9840 WANDA PARK DR', 'location': '9840 WANDA PARK DR', 'number_of_rooms': {}, 'price': {'saleamt': 582000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2000-04-14', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000562154', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '985 N ALPINE DR', 'location': '985 N ALPINE DR', 'number_of_rooms': {'bathstotal': 6.0, 'beds': 5}, 'price': {'saleamt': 1800000, 'salerecdate': '1998-04-03', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000544654', 'saletranstype': 'REO (Real Estate-Owned)'}, 'size': '', 'listing_type': 'sale'}
{'property_title': '1250 TOWER GROVE DR', 'location': '1250 TOWER GROVE DR', 'number_of_rooms': {'bathstotal': 4.0, 'beds': 3}, 'price': {'saleamt': 3465000, 'salecode': 'SALE PRICE (FULL) Full sales price as per documents', 'salerecdate': '2010-02-09', 'saledisclosuretype': 0, 'saledoctype': 'DEED', 'saledocnum': '0000177954', 'saletranstype': 'Resale'}, 'size': 4767, 'listing_type': 'sale'}
{'property_title': '9959 BEVERLY GROVE DR', 'location': '9959 BEVERLY GROVE DR', 'number_of_rooms': {'beds': 2}, 'price': {'salerecdate': '2022-03-24', 'saledisclosuretype': 0, 'saledocnum': '0000336886', 'saletranstype': 'Resale'}, 'size': '', 'listing_type': 'sale'}

Saved 50 records to attom_eventsnapshot.csv
              property_title                  location  \
0             9836 YOAKUM DR            9836 YOAKUM DR
1        13345 MULHOLLAND DR       13345 MULHOLLAND DR
2          2840 N BEVERLY DR         2840 N BEVERLY DR
3      9360 BEVERLY CREST DR     9360 BEVERLY CREST DR
4             9801 EASTON DR            9801 EASTON DR
5             1438 DAVIES DR            1438 DAVIES DR
6              9333 HAZEN DR             9333 HAZEN DR
7              9331 HAZEN DR             9331 HAZEN DR
8            9810 PORTOLA DR           9810 PORTOLA DR
9            9805 PORTOLA DR           9805 PORTOLA DR
10  2859 COLDWATER CANYON DR  2859 COLDWATER CANYON DR
11             412 ROBERT LN             412 ROBERT LN
12        9801 WANDA PARK DR        9801 WANDA PARK DR
13       2500 SUMMITRIDGE DR       2500 SUMMITRIDGE DR
14            257 N CANON DR            257 N CANON DR
15         900 N CRESCENT DR         900 N CRESCENT DR
16       1169 N HILLCREST RD       1169 N HILLCREST RD
17             210 LADERA DR             210 LADERA DR
18            9508 TULLIS DR            9508 TULLIS DR
19        9985 REEVESBURY DR        9985 REEVESBURY DR
20       1360 SUMMITRIDGE PL       1360 SUMMITRIDGE PL
21            9510 TULLIS DR            9510 TULLIS DR
22           1051 MARILYN DR           1051 MARILYN DR
23       13375 MULHOLLAND DR       13375 MULHOLLAND DR
24             13411 JAVA DR             13411 JAVA DR
25            1054 ANGELO DR            1054 ANGELO DR
26       13741 MULHOLLAND DR       13741 MULHOLLAND DR
27         1414 DAWNRIDGE DR         1414 DAWNRIDGE DR
28           1041 MARILYN DR           1041 MARILYN DR
29       12900 MULHOLLAND DR       12900 MULHOLLAND DR
30         1645 N BEVERLY DR         1645 N BEVERLY DR
31            1264 ANGELO DR            1264 ANGELO DR
32            9821 YOAKUM DR            9821 YOAKUM DR
33         718 N OAKHURST DR         718 N OAKHURST DR
34       1046 N HILLCREST RD       1046 N HILLCREST RD
35       1071 N HILLCREST RD       1071 N HILLCREST RD
36       1157 N HILLCREST RD       1157 N HILLCREST RD
37   1627 BENEDICT CANYON DR   1627 BENEDICT CANYON DR
38          9491 SUNSET BLVD          9491 SUNSET BLVD
39       13200 MULHOLLAND DR       13200 MULHOLLAND DR
40        10111 WESTWANDA DR        10111 WESTWANDA DR
41           602 MOUNTAIN DR           602 MOUNTAIN DR
42           1427 LAUREL WAY           1427 LAUREL WAY
43         1485 BLUERIDGE DR         1485 BLUERIDGE DR
44          1096 WALLACE RDG          1096 WALLACE RDG
45       12001 MULHOLLAND DR       12001 MULHOLLAND DR
46        9840 WANDA PARK DR        9840 WANDA PARK DR
47           985 N ALPINE DR           985 N ALPINE DR
48       1250 TOWER GROVE DR       1250 TOWER GROVE DR
49     9959 BEVERLY GROVE DR     9959 BEVERLY GROVE DR

                    number_of_rooms  \
0    {'bathstotal': 1.0, 'beds': 2}
1    {'bathstotal': 2.0, 'beds': 2}
2    {'bathstotal': 8.0, 'beds': 4}
3    {'bathstotal': 4.0, 'beds': 5}
4    {'bathstotal': 2.0, 'beds': 3}
5    {'bathstotal': 2.0, 'beds': 2}
6    {'bathstotal': 1.0, 'beds': 1}
7    {'bathstotal': 1.0, 'beds': 5}
8    {'bathstotal': 1.0, 'beds': 2}
9                                {}
10   {'bathstotal': 6.0, 'beds': 5}
11   {'bathstotal': 6.0, 'beds': 4}
12                               {}
13   {'bathstotal': 1.0, 'beds': 2}
14                               {}
15  {'bathstotal': 11.0, 'beds': 7}
16   {'bathstotal': 8.0, 'beds': 5}
17                               {}
18   {'bathstotal': 4.0, 'beds': 4}
19   {'bathstotal': 3.0, 'beds': 2}
20   {'bathstotal': 5.0, 'beds': 3}

In [35]:
df3

,property_title,location,number_of_rooms,price,size,listing_type
0,9836 YOAKUM DR,9836 YOAKUM DR,"{'bathstotal': 1.0, 'beds': 2}","{'saleamt': 825000, 'salecode': 'SALE PRICE (F...",674,sale
1,13345 MULHOLLAND DR,13345 MULHOLLAND DR,"{'bathstotal': 2.0, 'beds': 2}","{'saleamt': 355000, 'salecode': 'SALE PRICE (F...",,sale
2,2840 N BEVERLY DR,2840 N BEVERLY DR,"{'bathstotal': 8.0, 'beds': 4}","{'saleamt': 4050000, 'salerecdate': '2005-10-1...",6997,sale
3,9360 BEVERLY CREST DR,9360 BEVERLY CREST DR,"{'bathstotal': 4.0, 'beds': 5}","{'saleamt': 5750000, 'salerecdate': '2024-12-0...",,sale
4,9801 EASTON DR,9801 EASTON DR,"{'bathstotal': 2.0, 'beds': 3}","{'saleamt': 1465000, 'salerecdate': '2021-03-1...",1147,sale
5,1438 DAVIES DR,1438 DAVIES DR,"{'bathstotal': 2.0, 'beds': 2}","{'saleamt': 2150000, 'salerecdate': '2022-03-1...",,sale
6,9333 HAZEN DR,9333 HAZEN DR,"{'bathstotal': 1.0, 'beds': 1}",{'saledisclosuretype': 0},1247,sale
7,9331 HAZEN DR,9331 HAZEN DR,"{'bathstotal': 1.0, 'beds': 5}","{'salerecdate': '2014-10-22', 'saledisclosuret...",1000,sale
8,9810 PORTOLA DR,9810 PORTOLA DR,"{'bathstotal': 1.0, 'beds': 2}",{'saledisclosuretype': 0},935,sale
9,9805 PORTOLA DR,9805 PORTOLA DR,{},"{'saleamt': 89000, 'salecode': 'SALE PRICE (FU...",,sale
10,2859 COLDWATER CANYON DR,2859 COLDWATER CANYON DR,"{'bathstotal': 6.0, 'beds': 5}","{'saleamt': 7800000, 'salerecdate': '2024-04-1...",5082,sale
11,412 ROBERT LN,412 ROBERT LN,"{'bathstotal': 6.0, 'beds': 4}","{'saleamt': 22000000, 'salecode': 'SALE PRICE ...",,sale
12,9801 WANDA PARK DR,9801 WANDA PARK DR,{},"{'salerecdate': '2023-08-15', 'saledisclosuret...",,sale
13,2500 SUMMITRIDGE DR,2500 SUMMITRIDGE DR,"{'bathstotal': 1.0, 'beds': 2}",{'saledisclosuretype': 0},1440,sale
14,257 N CANON DR,257 N CANON DR,{},{'saledisclosuretype': 0},7479,sale
15,900 N CRESCENT DR,900 N CRESCENT DR,"{'bathstotal': 11.0, 'beds': 7}","{'saleamt': 42112500, 'salerecdate': '2024-02-...",44925,sale
16,1169 N HILLCREST RD,1169 N HILLCREST RD,"{'bathstotal': 8.0, 'beds': 5}","{'salerecdate': '2024-12-13', 'saledisclosuret...",,sale
17,210 LADERA DR,210 LADERA DR,{},"{'saleamt': 14000000, 'salerecdate': '2006-04-...",,sale
18,9508 TULLIS DR,9508 TULLIS DR,"{'bathstotal': 4.0, 'beds': 4}",{'salecode': 'SALE PRICE (FULL) Full sales pri...,,sale
19,9985 REEVESBURY DR,9985 REEVESBURY DR,"{'bathstotal': 3.0, 'beds': 2}","{'saleamt': 1600000, 'salerecdate': '2016-06-2...",,sale
20,1360 SUMMITRIDGE PL,1360 SUMMITRIDGE PL,"{'bathstotal': 5.0, 'beds': 3}","{'saleamt': 18335000, 'salecode': 'SALE PRICE ...",,sale
21,9510 TULLIS DR,9510 TULLIS DR,"{'bathstotal': 4.0, 'beds': 4}",{'salecode': 'SALE PRICE (FULL) Full sales pri...,,sale
22,1051 MARILYN DR,1051 MARILYN DR,"{'bathstotal': 5.0, 'beds': 3}","{'saleamt': 17187500, 'salecode': 'UNKNOWN amo...",,sale
23,13375 MULHOLLAND DR,13375 MULHOLLAND DR,{},"{'saleamt': 500000, 'salecode': 'SALE PRICE (F...",,sale
24,13411 JAVA DR,13411 JAVA DR,"{'bathstotal': 3.0, 'beds': 3}","{'saleamt': 5000000, 'salecode': 'SALE PRICE (...",,sale
25,1054 ANGELO DR,1054 ANGELO DR,"{'bathstotal': 4.0, 'beds': 3}","{'saleamt': 20252000, 'salerecdate': '2025-03-...",,sale
26,13741 MULHOLLAND DR,13741 MULHOLLAND DR,"{'bathstotal': 4.0, 'beds': 2}","{'saleamt': 2178500, 'salecode': 'SALE PRICE (...",,sale
27,1414 DAWNRIDGE DR,1414 DAWNRIDGE DR,"{'bathstotal': 6.0, 'beds': 5}","{'saleamt': 3700000, 'salerecdate': '2022-05-1...",4582,sale
28,1041 MARILYN DR,1041 MARILYN DR,"{'bathstotal': 5.0, 'beds': 4}","{'saleamt': 17187500, 'salecode': 'UNKNOWN amo...",,sale
29,12900 MULHOLLAND DR,12900 MULHOLLAND DR,"{'bathstotal': 4.0, 'beds': 3}","{'saleamt': 5000050, 'salecode': 'ESTIMATED Sa...",,sale
30,1645 N BEVERLY DR,1645 N BEVERLY DR,"{'bathstotal': 4.0, 'beds': 4}","{'saleamt': 555000, 'salecode': 'SALE PRICE (F...",3204,sale
31,1264 ANGELO DR,1264 ANGELO DR,"{'bathstotal': 4.0, 'beds': 3}","{'saleamt': 4800000, 'salecode': 'UNKNOWN amou...",,sale
32,9821 YOAKUM DR,9821 YOAKUM DR,"{'bathstotal': 2.0, 'beds': 1}","{'salerecdate': '2023-08-15', 'saledisclosuret...",,sale
33,718 N OAKHURST DR,718 N OAKHURST DR,"{'bathstotal': 3.0, 'beds': 3}","{'saleamt': 3350000, 'salecode': 'SALE PRICE (...",3080,sale
34,1046 N HILLCREST RD,1046 N HILLCREST RD,{},"{'saleamt': 8250000, 'salerecdate': '2022-06-2...",,sale
35,1071 N HILLCREST RD,1071 N HILLCREST RD,{},"{'saleamt': 625000, 'salecode': 'UNKNOWN amoun...",,sale
36,1157 N HILLCREST RD,1157 N HILLCREST RD,"{'bathstotal': 5.0, 'beds': 3}","{'saleamt': 15600000, 'salecode': 'SALE PRICE ...",4524,sale
37,1627 BENEDICT CANYON DR,1627 BENEDICT CANYON DR,{},"{'saleamt': 917000, 'salecode': 'SALE PRICE (F...",,sale
38,9491 SUNSET BLVD,9491 SUNSET BLVD,"{'bathstotal': 9.0, 'beds': 9}","{'salerecdate': '2005-10-20', 'saledisclosuret...",16621,sale
39,13200 MULHOLLAND DR,13200 MULHOLLAND DR,"{'bathstotal': 5.0, 'beds': 3}","{'salerecdate': '2023-05-02', 'saledisclosuret...",,sale
40,10111 WESTWANDA DR,10111 WESTWANDA DR,"{'bathstotal': 4.0, 'beds': 5}","{'saleamt': 35000, 'salecode': 'SALE PRICE (FU...",,sale
41,602 MOUNTAIN DR,602 MOUNTAIN DR,"{'bathstotal': 4.5, 'beds': 5}","{'salerecdate': '2020-12-30', 'saledisclosuret...",,sale
42,1427 LAUREL WAY,1427 LAUREL WAY,"{'bathstotal': 5.0, 'beds': 5}","{'saleamt': 4500000, 'salecode': 'SALE PRICE (...",5269,sale
43,1485 BLUERIDGE DR,1485 BLUERIDGE DR,"{'bathstotal': 10.0, 'beds': 7}","{'salerecdate': '2023-08-30', 'saledisclosuret...",9044,sale
44,1096 WALLACE RDG,1096 WALLACE RDG,"{'bathstotal': 11.0, 'beds': 9}",{'saledisclosuretype': 0},,sale
45,12001 MULHOLLAND DR,12001 MULHOLLAND DR,{},"{'saleamt': 720000, 'salecode': 'SALE PRICE (F...",,sale
46,9840 WANDA PARK DR,9840 WANDA PARK DR,{},"{'saleamt': 582000, 'salecode': 'SALE PRICE (F...",,sale
47,985 N ALPINE DR,985 N ALPINE DR,"{'bathstotal': 6.0, 'beds': 5}","{'saleamt': 1800000, 'salerecdate': '1998-04-0...",,sale
48,1250 TOWER GROVE DR,1250 TOWER GROVE DR,"{'bathstotal': 4.0, 'beds': 3}","{'saleamt': 3465000, 'salecode': 'SALE PRICE (...",4767,sale
49,9959 BEVERLY GROVE DR,9959 BEVERLY GROVE DR,{'beds': 2},"{'salerecdate': '2022-03-24', 'saledisclosuret...",,sale

# Data Pre-Processing

# df1

In [36]:
df1 = pd.read_csv("attom_properties.csv")

In [37]:
df1

,property_title,location,number_of_rooms,price,size,listing_type
0,9836 YOAKUM DR,9836 YOAKUM DR,"{'bathsfull': 1, 'bathstotal': 1.0, 'beds': 2,...",NaN,674.0,sale
1,13345 MULHOLLAND DR,13345 MULHOLLAND DR,"{'bathsfull': 2, 'bathstotal': 2.0, 'beds': 2,...",NaN,NaN,sale
2,2840 N BEVERLY DR,2840 N BEVERLY DR,"{'bathsfull': 8, 'bathstotal': 8.0, 'beds': 4}",NaN,6997.0,sale
3,9360 BEVERLY CREST DR,9360 BEVERLY CREST DR,"{'bathsfull': 4, 'bathstotal': 4.0, 'beds': 5}",NaN,NaN,sale
4,9801 EASTON DR,9801 EASTON DR,"{'bathsfull': 2, 'bathstotal': 2.0, 'beds': 3}",NaN,1147.0,sale
...,...,...,...,...,...,...
95,9412 BEVERLY CREST DR,9412 BEVERLY CREST DR,"{'beds': 2, 'roomsTotal': 8}",NaN,NaN,sale
96,1422 LINDACREST DR,1422 LINDACREST DR,{},NaN,NaN,sale
97,1462 CLARIDGE DR,1462 CLARIDGE DR,"{'bathsfull': 4, 'bathstotal': 4.0, 'beds': 4}",NaN,3106.0,sale
98,1426 HARRIDGE DR,1426 HARRIDGE DR,{},NaN,1044.0,sale
99,1636 SUMMITRIDGE DR,1636 SUMMITRIDGE DR,"{'bathsfull': 6, 'bathstotal': 6.0, 'beds': 5,...",NaN,NaN,sale

In [38]:
# Drop existing listing_type as it shows the same input (sale)
if 'listing_type' in df1.columns:
    df1.drop(columns=['listing_type'], inplace=True)

In [39]:
#Create new listing_type column --> rent or sale
df1['listing_type'] = random.choices(['rent', 'sale'], weights=[0.5, 0.5], k=len(df1))

In [40]:
# Drop existing listing_type as it shows the same input (sale)
if 'number_of_rooms' in df1.columns:
    df1.drop(columns=['number_of_rooms'], inplace=True)

In [41]:
#drop column price
df1.drop(columns=['price'], inplace=True)

In [42]:
#drop size column
df1.drop(columns=['size'], inplace=True)

In [43]:
df1.drop(columns=['property_title'], inplace=True)

In [47]:
#replace the property_title data
titles = [
    "The Townhouse",
    "Luxury Condo Downtown",
    "Cozy Studio Apartment",
    "Modern Family Home",
    "Elegant Villa with Garden",
    "Spacious Urban Loft",
    "Penthouse with City Views",
    "Beachfront Apartment",
    "Split-Level House with Modern Finishes",
    "Minimalist Studio Near Coffee Shops",
    "Luxury Townhome with Garage",
    "Family Home in School District",
    "Corner Lot Property with Fenced Yard",
    "Mountain Cabin with Hot Tub",
    "Sunny Bungalow",
    "Urban Chic Condo in Financial District",
    "Lakeview Cabin",
    "Pet-Friendly Flat in the City",
    "Downtown Studio Apartment",
    "Renovated Duplex with Balcony",
    "High-Rise Apartment with Gym Access",
    "Coastal Home with Wraparound Porch",
    "Suburban Home with Finished Basement",
    "Compact Condo with Built-In Storage",
    "The Family House",
    "Converted Warehouse Loft",
    "Mountain Chalet",
    "Moon House",
    "Townhome in Gated Complex",
    "Classic Colonial in Quiet Neighborhood",
    "Studio Loft with Industrial Vibe",
    "The Affordable Apartment",
    "Countryside Farmhouse Retreat",
    "Luxury Lakefront Villa",
    "Home with Formal Dining Room",
    "Studio in Walkable Historic District",
    "Energy-Efficient Home with Smart Features",
    "Bohemian Loft in Cultural Center",
    "Elegant Estate on Private Drive",
    "Modern Duplex with Shared Garden"
    "B1 Apartment",
    "Open-Concept Flat",
    "Compact Downtown Micro-Studio",
    "Spacious Multi-Family Unit",
    "Luxury Apartment in Midtown",
    "Sunny Top-Floor Apartment",
    "Green-Energy Eco-Home",
    "The Glam Flat",
    "Gardens Home",
    "Great Star Apartment",
    "The Modren Building",
    "Charming Craftsman Bungalow",
    "Urban Penthouse Suite",
    "Cozy Lakeside Cottage",
    "Modern Eco-Friendly Home",
    "Vintage Brownstone Apartment",
    "Seaside Villa with Pool",
    "Downtown Loft with Skyline Views",
    "Rustic Mountain Retreat",
    "Luxury High-Rise Condo",
    "Family-Friendly Suburban Home",
    "Historic Townhouse Renovation",
    "Sunny Mediterranean Villa",
    "Spacious Ranch with Barn",
    "Contemporary Studio Apartment",
    "Elegant Colonial Revival",
    "Waterfront Condo with Marina Access",
    "Quiet Cul-de-Sac Family Home",
    "Loft Apartment with Exposed Brick",
    "Modern Farmhouse with Porch",
    "Downtown Executive Condo",
    "Cozy Chalet in Ski Resort",
    "Suburban Townhome with Garage",
    "Luxury Duplex with Private Garden",
    "Open Floorplan Loft",
    "Secluded Cabin in the Woods",
    "Bright and Airy Penthouse",
    "Modern Minimalist Flat",
    "Historic Victorian Home",
    "Beachside Bungalow",
    "City-Center Studio Apartment",
    "Spacious Duplex with Balcony",
    "Luxury Estate with Tennis Court",
    "Cozy Condo Near Park",
    "Modern Apartment with Gym",
    "Lakefront Family Cottage",
    "Renovated Loft with City Views",
    "Chic Studio Near University",
    "Contemporary Villa with Pool",
    "Suburban Home with Large Yard",
    "Eco-Friendly Tiny House",
    "Luxury Penthouse with Rooftop Deck",
    "Spacious Family Townhouse",
    "Downtown Loft with Modern Amenities",
    "Quaint Cottage with Garden",
    "Open Concept Urban Flat",
    "Cozy Cabin Retreat",
    "Modern Condo with Balcony",
    "Spacious Single-Family Home",
    "Elegant Apartment in Historic Building",
    "Modern Loft in Trendy Neighborhood"   
]
len(titles)

100

In [48]:
#Create property_title column with the titles
df1['property_title'] = titles[:len(df1)]

In [49]:
df1

                 location listing_type                          property_title
0          9836 YOAKUM DR         rent                           The Townhouse
1     13345 MULHOLLAND DR         rent                   Luxury Condo Downtown
2       2840 N BEVERLY DR         rent                   Cozy Studio Apartment
3   9360 BEVERLY CREST DR         rent                      Modern Family Home
4          9801 EASTON DR         rent               Elegant Villa with Garden
..                    ...          ...                                     ...
95  9412 BEVERLY CREST DR         sale                      Cozy Cabin Retreat
96     1422 LINDACREST DR         sale               Modern Condo with Balcony
97       1462 CLARIDGE DR         sale             Spacious Single-Family Home
98       1426 HARRIDGE DR         sale  Elegant Apartment in Historic Building
99    1636 SUMMITRIDGE DR         sale      Modern Loft in Trendy Neighborhood

[100 rows x 3 columns]

# df2

In [50]:
df2

,property_title,location,number_of_rooms,price,size,listing_type
0,9836 YOAKUM DR,9836 YOAKUM DR,"{'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2,...",,,sale
1,13345 MULHOLLAND DR,13345 MULHOLLAND DR,"{'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 2,...",,,sale
2,2840 N BEVERLY DR,2840 N BEVERLY DR,"{'bathsFull': 8, 'bathsTotal': 8.0, 'beds': 4}",,,sale
3,9360 BEVERLY CREST DR,9360 BEVERLY CREST DR,"{'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 5}",,,sale
4,9801 EASTON DR,9801 EASTON DR,"{'bathsFull': 2, 'bathsTotal': 2.0, 'beds': 3}",,,sale
...,...,...,...,...,...,...
95,9412 BEVERLY CREST DR,9412 BEVERLY CREST DR,"{'beds': 2, 'roomsTotal': 8}",,,sale
96,1422 LINDACREST DR,1422 LINDACREST DR,{},,,sale
97,1462 CLARIDGE DR,1462 CLARIDGE DR,"{'bathsFull': 4, 'bathsTotal': 4.0, 'beds': 4}",,,sale
98,1426 HARRIDGE DR,1426 HARRIDGE DR,{},,,sale
99,1636 SUMMITRIDGE DR,1636 SUMMITRIDGE DR,"{'bathsFull': 6, 'bathsTotal': 6.0, 'beds': 5,...",,,sale

In [51]:
print(df2['number_of_rooms'].iloc[0])
print(type(df2['number_of_rooms'].iloc[0]))

{'bathsFull': 1, 'bathsTotal': 1.0, 'beds': 2, 'roomsTotal': 5}
<class 'dict'>

In [52]:
#extract roomsTotla from the dict in number_of_rooms
df2['number_of_rooms'] = df2['number_of_rooms'].apply(lambda x: x.get('roomsTotal') if isinstance(x, dict) else None)
print(df2[['number_of_rooms']].head())

#fill null values with means
df2['number_of_rooms'].fillna(df2['number_of_rooms'].mean(), inplace=True)

   number_of_rooms
0              5.0
1              6.0
2              NaN
3              NaN
4              NaN

C:\Users\admin\AppData\Local\Temp\ipykernel_20832\2511123970.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['number_of_rooms'].fillna(df2['number_of_rooms'].mean(), inplace=True)

In [53]:
#Convert to integer
df2['number_of_rooms'] = df2['number_of_rooms'].round().astype(int)
print(df2[['number_of_rooms']].head())

   number_of_rooms
0                5
1                6
2               13
3               13
4               13

In [54]:
#drop property_title, location, price, size, listing_type columns
df2.drop(columns=['property_title'], inplace=True)
df2.drop(columns=['location'], inplace=True)
df2.drop(columns=['price'], inplace=True)
df2.drop(columns=['size'], inplace=True)
df2.drop(columns=['listing_type'], inplace=True)

In [55]:
df2

    number_of_rooms
0                 5
1                 6
2                13
3                13
4                13
..              ...
95                8
96               13
97               13
98               13
99               22

[100 rows x 1 columns]

# df3

In [56]:
df3

,property_title,location,number_of_rooms,price,size,listing_type
0,9836 YOAKUM DR,9836 YOAKUM DR,"{'bathstotal': 1.0, 'beds': 2}","{'saleamt': 825000, 'salecode': 'SALE PRICE (F...",674,sale
1,13345 MULHOLLAND DR,13345 MULHOLLAND DR,"{'bathstotal': 2.0, 'beds': 2}","{'saleamt': 355000, 'salecode': 'SALE PRICE (F...",,sale
2,2840 N BEVERLY DR,2840 N BEVERLY DR,"{'bathstotal': 8.0, 'beds': 4}","{'saleamt': 4050000, 'salerecdate': '2005-10-1...",6997,sale
3,9360 BEVERLY CREST DR,9360 BEVERLY CREST DR,"{'bathstotal': 4.0, 'beds': 5}","{'saleamt': 5750000, 'salerecdate': '2024-12-0...",,sale
4,9801 EASTON DR,9801 EASTON DR,"{'bathstotal': 2.0, 'beds': 3}","{'saleamt': 1465000, 'salerecdate': '2021-03-1...",1147,sale
5,1438 DAVIES DR,1438 DAVIES DR,"{'bathstotal': 2.0, 'beds': 2}","{'saleamt': 2150000, 'salerecdate': '2022-03-1...",,sale
6,9333 HAZEN DR,9333 HAZEN DR,"{'bathstotal': 1.0, 'beds': 1}",{'saledisclosuretype': 0},1247,sale
7,9331 HAZEN DR,9331 HAZEN DR,"{'bathstotal': 1.0, 'beds': 5}","{'salerecdate': '2014-10-22', 'saledisclosuret...",1000,sale
8,9810 PORTOLA DR,9810 PORTOLA DR,"{'bathstotal': 1.0, 'beds': 2}",{'saledisclosuretype': 0},935,sale
9,9805 PORTOLA DR,9805 PORTOLA DR,{},"{'saleamt': 89000, 'salecode': 'SALE PRICE (FU...",,sale
10,2859 COLDWATER CANYON DR,2859 COLDWATER CANYON DR,"{'bathstotal': 6.0, 'beds': 5}","{'saleamt': 7800000, 'salerecdate': '2024-04-1...",5082,sale
11,412 ROBERT LN,412 ROBERT LN,"{'bathstotal': 6.0, 'beds': 4}","{'saleamt': 22000000, 'salecode': 'SALE PRICE ...",,sale
12,9801 WANDA PARK DR,9801 WANDA PARK DR,{},"{'salerecdate': '2023-08-15', 'saledisclosuret...",,sale
13,2500 SUMMITRIDGE DR,2500 SUMMITRIDGE DR,"{'bathstotal': 1.0, 'beds': 2}",{'saledisclosuretype': 0},1440,sale
14,257 N CANON DR,257 N CANON DR,{},{'saledisclosuretype': 0},7479,sale
15,900 N CRESCENT DR,900 N CRESCENT DR,"{'bathstotal': 11.0, 'beds': 7}","{'saleamt': 42112500, 'salerecdate': '2024-02-...",44925,sale
16,1169 N HILLCREST RD,1169 N HILLCREST RD,"{'bathstotal': 8.0, 'beds': 5}","{'salerecdate': '2024-12-13', 'saledisclosuret...",,sale
17,210 LADERA DR,210 LADERA DR,{},"{'saleamt': 14000000, 'salerecdate': '2006-04-...",,sale
18,9508 TULLIS DR,9508 TULLIS DR,"{'bathstotal': 4.0, 'beds': 4}",{'salecode': 'SALE PRICE (FULL) Full sales pri...,,sale
19,9985 REEVESBURY DR,9985 REEVESBURY DR,"{'bathstotal': 3.0, 'beds': 2}","{'saleamt': 1600000, 'salerecdate': '2016-06-2...",,sale
20,1360 SUMMITRIDGE PL,1360 SUMMITRIDGE PL,"{'bathstotal': 5.0, 'beds': 3}","{'saleamt': 18335000, 'salecode': 'SALE PRICE ...",,sale
21,9510 TULLIS DR,9510 TULLIS DR,"{'bathstotal': 4.0, 'beds': 4}",{'salecode': 'SALE PRICE (FULL) Full sales pri...,,sale
22,1051 MARILYN DR,1051 MARILYN DR,"{'bathstotal': 5.0, 'beds': 3}","{'saleamt': 17187500, 'salecode': 'UNKNOWN amo...",,sale
23,13375 MULHOLLAND DR,13375 MULHOLLAND DR,{},"{'saleamt': 500000, 'salecode': 'SALE PRICE (F...",,sale
24,13411 JAVA DR,13411 JAVA DR,"{'bathstotal': 3.0, 'beds': 3}","{'saleamt': 5000000, 'salecode': 'SALE PRICE (...",,sale
25,1054 ANGELO DR,1054 ANGELO DR,"{'bathstotal': 4.0, 'beds': 3}","{'saleamt': 20252000, 'salerecdate': '2025-03-...",,sale
26,13741 MULHOLLAND DR,13741 MULHOLLAND DR,"{'bathstotal': 4.0, 'beds': 2}","{'saleamt': 2178500, 'salecode': 'SALE PRICE (...",,sale
27,1414 DAWNRIDGE DR,1414 DAWNRIDGE DR,"{'bathstotal': 6.0, 'beds': 5}","{'saleamt': 3700000, 'salerecdate': '2022-05-1...",4582,sale
28,1041 MARILYN DR,1041 MARILYN DR,"{'bathstotal': 5.0, 'beds': 4}","{'saleamt': 17187500, 'salecode': 'UNKNOWN amo...",,sale
29,12900 MULHOLLAND DR,12900 MULHOLLAND DR,"{'bathstotal': 4.0, 'beds': 3}","{'saleamt': 5000050, 'salecode': 'ESTIMATED Sa...",,sale
30,1645 N BEVERLY DR,1645 N BEVERLY DR,"{'bathstotal': 4.0, 'beds': 4}","{'saleamt': 555000, 'salecode': 'SALE PRICE (F...",3204,sale
31,1264 ANGELO DR,1264 ANGELO DR,"{'bathstotal': 4.0, 'beds': 3}","{'saleamt': 4800000, 'salecode': 'UNKNOWN amou...",,sale
32,9821 YOAKUM DR,9821 YOAKUM DR,"{'bathstotal': 2.0, 'beds': 1}","{'salerecdate': '2023-08-15', 'saledisclosuret...",,sale
33,718 N OAKHURST DR,718 N OAKHURST DR,"{'bathstotal': 3.0, 'beds': 3}","{'saleamt': 3350000, 'salecode': 'SALE PRICE (...",3080,sale
34,1046 N HILLCREST RD,1046 N HILLCREST RD,{},"{'saleamt': 8250000, 'salerecdate': '2022-06-2...",,sale
35,1071 N HILLCREST RD,1071 N HILLCREST RD,{},"{'saleamt': 625000, 'salecode': 'UNKNOWN amoun...",,sale
36,1157 N HILLCREST RD,1157 N HILLCREST RD,"{'bathstotal': 5.0, 'beds': 3}","{'saleamt': 15600000, 'salecode': 'SALE PRICE ...",4524,sale
37,1627 BENEDICT CANYON DR,1627 BENEDICT CANYON DR,{},"{'saleamt': 917000, 'salecode': 'SALE PRICE (F...",,sale
38,9491 SUNSET BLVD,9491 SUNSET BLVD,"{'bathstotal': 9.0, 'beds': 9}","{'salerecdate': '2005-10-20', 'saledisclosuret...",16621,sale
39,13200 MULHOLLAND DR,13200 MULHOLLAND DR,"{'bathstotal': 5.0, 'beds': 3}","{'salerecdate': '2023-05-02', 'saledisclosuret...",,sale
40,10111 WESTWANDA DR,10111 WESTWANDA DR,"{'bathstotal': 4.0, 'beds': 5}","{'saleamt': 35000, 'salecode': 'SALE PRICE (FU...",,sale
41,602 MOUNTAIN DR,602 MOUNTAIN DR,"{'bathstotal': 4.5, 'beds': 5}","{'salerecdate': '2020-12-30', 'saledisclosuret...",,sale
42,1427 LAUREL WAY,1427 LAUREL WAY,"{'bathstotal': 5.0, 'beds': 5}","{'saleamt': 4500000, 'salecode': 'SALE PRICE (...",5269,sale
43,1485 BLUERIDGE DR,1485 BLUERIDGE DR,"{'bathstotal': 10.0, 'beds': 7}","{'salerecdate': '2023-08-30', 'saledisclosuret...",9044,sale
44,1096 WALLACE RDG,1096 WALLACE RDG,"{'bathstotal': 11.0, 'beds': 9}",{'saledisclosuretype': 0},,sale
45,12001 MULHOLLAND DR,12001 MULHOLLAND DR,{},"{'saleamt': 720000, 'salecode': 'SALE PRICE (F...",,sale
46,9840 WANDA PARK DR,9840 WANDA PARK DR,{},"{'saleamt': 582000, 'salecode': 'SALE PRICE (F...",,sale
47,985 N ALPINE DR,985 N ALPINE DR,"{'bathstotal': 6.0, 'beds': 5}","{'saleamt': 1800000, 'salerecdate': '1998-04-0...",,sale
48,1250 TOWER GROVE DR,1250 TOWER GROVE DR,"{'bathstotal': 4.0, 'beds': 3}","{'saleamt': 3465000, 'salecode': 'SALE PRICE (...",4767,sale
49,9959 BEVERLY GROVE DR,9959 BEVERLY GROVE DR,{'beds': 2},"{'salerecdate': '2022-03-24', 'saledisclosuret...",,sale

In [57]:
#drop property_title, location, number_of_rooms ,listing_type columns
df3.drop(columns=['property_title'], inplace=True)
df3.drop(columns=['location'], inplace=True)
df3.drop(columns=['number_of_rooms'], inplace=True)
df3.drop(columns=['listing_type'], inplace=True)

In [58]:
print(type(df3['price'].iloc[0]))

<class 'dict'>

In [59]:
#extract saleamt from the dict in price
df3['price'] = df3['price'].apply(lambda x: x.get('saleamt') if isinstance(x, dict) else None)

In [60]:
#fill null values with means
df3['price'].fillna(df3['price'].mean(), inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_20832\2667439701.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['price'].fillna(df3['price'].mean(), inplace=True)

In [61]:
print(df3[['price']].head())

       price
0   825000.0
1   355000.0
2  4050000.0
3  5750000.0
4  1465000.0

In [62]:
#Convert price to integer
df3['price'] = df3['price'].round().astype(int)

In [64]:
#convert size (object) to (integer)
#remove commas or unwanted characters
df3['size'] = pd.to_numeric(df3['size'], errors='coerce')

#fill NaNs cells
df3['size'].fillna(df3['size'].mean(), inplace=True)

#convert to integer
df3['size'] = df3['size'].round().astype(int)

C:\Users\admin\AppData\Local\Temp\ipykernel_20832\3658870293.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['size'].fillna(df3['size'].mean(), inplace=True)

In [65]:
df3

       price   size
0     825000    674
1     355000   6779
2    4050000   6997
3    5750000   6779
4    1465000   1147
5    2150000   6779
6    6962825   1247
7    6962825   1000
8    6962825    935
9      89000   6779
10   7800000   5082
11  22000000   6779
12   6962825   6779
13   6962825   1440
14   6962825   7479
15  42112500  44925
16   6962825   6779
17  14000000   6779
18   6962825   6779
19   1600000   6779
20  18335000   6779
21   6962825   6779
22  17187500   6779
23    500000   6779
24   5000000   6779
25  20252000   6779
26   2178500   6779
27   3700000   4582
28  17187500   6779
29   5000050   6779
30    555000   3204
31   4800000   6779
32   6962825   6779
33   3350000   3080
34   8250000   6779
35    625000   6779
36  15600000   4524
37    917000   6779
38   6962825  16621
39   6962825   6779
40     35000   6779
41   6962825   6779
42   4500000   5269
43   6962825   9044
44   6962825   6779
45    720000   6779
46    582000   6779
47   1800000   6779
48   3465000   4767
49   6962825   6779

**Data Merge**

In [66]:
#Merge DataFrames
merged_df = pd.concat([df1, df2, df3], axis=1)

#reorder the columns 
merged_df = merged_df[['property_title', 'listing_type', 'location', 'number_of_rooms', 'price', 'size']]

In [67]:
#rename the size and price columns 
merged_df.rename(columns={'price': 'price (USD)','size': 'size (sqft)'}, inplace=True)

In [68]:
merged_df

,property_title,listing_type,location,number_of_rooms,price (USD),size (sqft)
0,The Townhouse,rent,9836 YOAKUM DR,5,825000.0,674.0
1,Luxury Condo Downtown,rent,13345 MULHOLLAND DR,6,355000.0,6779.0
2,Cozy Studio Apartment,rent,2840 N BEVERLY DR,13,4050000.0,6997.0
3,Modern Family Home,rent,9360 BEVERLY CREST DR,13,5750000.0,6779.0
4,Elegant Villa with Garden,rent,9801 EASTON DR,13,1465000.0,1147.0
...,...,...,...,...,...,...
95,Cozy Cabin Retreat,sale,9412 BEVERLY CREST DR,8,NaN,NaN
96,Modern Condo with Balcony,sale,1422 LINDACREST DR,13,NaN,NaN
97,Spacious Single-Family Home,sale,1462 CLARIDGE DR,13,NaN,NaN
98,Elegant Apartment in Historic Building,sale,1426 HARRIDGE DR,13,NaN,NaN
99,Modern Loft in Trendy Neighborhood,sale,1636 SUMMITRIDGE DR,22,NaN,NaN

In [70]:
merged_df['size (sqft)'].fillna(merged_df['size (sqft)'].mean(), inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_20832\1045451633.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['size (sqft)'].fillna(merged_df['size (sqft)'].mean(), inplace=True)

In [71]:
merged_df['price (USD)'].fillna(merged_df['price (USD)'].mean(), inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_20832\3280922048.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['price (USD)'].fillna(merged_df['price (USD)'].mean(), inplace=True)

In [73]:
#Convert price and size column to integer
merged_df['price (USD)'] = merged_df['price (USD)'].round().astype(int)
merged_df['size (sqft)'] = merged_df['size (sqft)'].round().astype(int)

In [75]:
merged_df

,property_title,listing_type,location,number_of_rooms,price (USD),size (sqft)
0,The Townhouse,rent,9836 YOAKUM DR,5,825000,674
1,Luxury Condo Downtown,rent,13345 MULHOLLAND DR,6,355000,6779
2,Cozy Studio Apartment,rent,2840 N BEVERLY DR,13,4050000,6997
3,Modern Family Home,rent,9360 BEVERLY CREST DR,13,5750000,6779
4,Elegant Villa with Garden,rent,9801 EASTON DR,13,1465000,1147
...,...,...,...,...,...,...
95,Cozy Cabin Retreat,sale,9412 BEVERLY CREST DR,8,6962825,6779
96,Modern Condo with Balcony,sale,1422 LINDACREST DR,13,6962825,6779
97,Spacious Single-Family Home,sale,1462 CLARIDGE DR,13,6962825,6779
98,Elegant Apartment in Historic Building,sale,1426 HARRIDGE DR,13,6962825,6779
99,Modern Loft in Trendy Neighborhood,sale,1636 SUMMITRIDGE DR,22,6962825,6779